doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
    link(rel='stylesheet', href='/styles/mobile/project.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(type='text/javascript', src='/scripts/projectPage.js')
    h1#aboutME akm-y
    .navMenu
      i.mobile.material-icons.md-36#hamburger menu
    h1.category.mobile ~ 2d ~
    include ../partials/nav.jade
    section#content-wrapper
      div.subNav
        span#boffo
          a(href='/2d/boffo') BOFFO 
        span#shells
          a(href='/2d/shells') Shells 
        span#screentale
          a(href='/2d/screentale') Screenshot Tale 
        span#prepscans
          a(href='/2d/prepscans') Object Scans Scanned 
      header
        h3 #{info.name}
        form(action='demo_form.asp')
          input(type='checkbox', name='', value='who')
          |  for who?
          input(type='checkbox', name='', value='role')
          |  role
          input(type='checkbox', name='', value='software')
          |  software
          input(type='checkbox', name='', value='info')
          |  description
      section.project-content
        each imageUrl in imageUrlList
          div.project-images
            img(src="#{imageUrl}")
            svg.cross
              line(x1='0', y1='100%', x2='100%', y2='0')
              line(x1='0', y1='0', x2='100%', y2='100%')
        .infoBox.text-who   #{info.who}
        .infoBox.text-role  #{info.role}
        .infoBox.text-software  #{info.software}
        .infoBox.text-info #{info.description}
      script(type='text/javascript', src='/scripts/infoCheck.js')
      include ../partials/slideCtrl.jade
      .modal-layer
      section.text-overlay
        .text-content 
          .text-italic #{info.name};
          .text-italic  #{info.who};
          .text-italic  #{info.role}; 
          .text-italic  #{info.software}; 
          .text-info #{info.description}
    if info.links
      footer
          each link in info.links
            a(href=link target="_blank").ext-links #{link}
      div.sideLinkPanel 
          each link in info.links
            a(href=link target="_blank").ext-links
              i.material-icons share
  section.img-modal
    i.material-icons.closeModal close

  script.
    $('body').on('swipe', function(){
      console.log("body swipe ___ ");
    });

  
