html
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    title=AKMY
    link(rel='stylesheet', href='/styles/works.css')
  body.projectPage
    a(href="/")#home.name Andrea Macias-Ya&#xF1;ez
    each imgUrl in prjFiles
      img(src=imgUrl)
    //- object(width='100%' height="100%" type='application/pdf' data=`${pdfFiles}#toolbar=0&navpanes=0&scrollbar=0`)
      //- img(src=pdfFiles)
    //- `${}?#scrollbar=0&toolbar=0&navpanes=0`
