doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/scrollPage.css')
    link(rel='stylesheet', href='/styles/mobile/project.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    include ../partials/infoPanel.jade
    h1.category.mobile ~ 3d ~
    .navMenu
      i.mobile.material-icons.md-36#hamburger menu
    include ../partials/nav.jade
    section#content-wrapper

    secion#overlayCluster
      .overlayBackdrop
        - for (var i = 0; i < 4; ++i) {
          img(src="#{Overlays[i]}")
        - }
      .overlayGridWrapper
        .overlayGrid
          - for (var i = 4; i < 10; ++i) {
              img(src="#{Overlays[i]}")
          - }
        .overlayGrid#topGrid
          - for (var i = 10; i < 16; ++i) {
              img(src="#{Overlays[i]}")
          - }
    span#Over
      img(src="#{Panels[1]}")
    secion.bitmapCluster#batch1
      - for (var i = 0; i < 3; ++i) {
          img(src="#{Bitmaps[i]}")
      - }
    section#bodyText
      p. 
        The in-between corridor manifested throughout this process, highlighting the surfaces, colors, signs,textures that managed to push through the iterative system. It is not a right or wrong corridor, but a still moment between its physical reality and that of pristine translation.  
      p.
        The in-between corridor now collides with its original place, returning back to the series of images that constructed it. This results in a mode of representation that wants to make obvious the difference and similarities of both perceptions and how they work together to reach an understanding of what that image is representing. A second look to what was possibly disregarded.
    
    secion.bitmapCluster#batch2
        - for (var i = 3; i < 6; ++i) {
            img(src="#{Bitmaps[i]}")
        - }
    #BitmapPanel
      img(src="#{Panels[0]}")
    secion.bitmapCluster#batch3
        - for (var i = 6; i < 9; ++i) {
            img(src="#{Bitmaps[i]}")
        - }
    secion.bitmapCluster#batch4
      - for (var i = 9; i < 12; ++i) {
          img(src="#{Bitmaps[i]}")
      - }
