doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
    link(rel='stylesheet', href='/styles/mobile/project.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    include ../partials/infoPanel.jade
    h1.category.mobile ~fabrication~
    .navMenu
      i.mobile.material-icons.md-36#hamburger menu
    include ../partials/nav.jade
    section#content-wrapper
      div.subNav
        span#bathhouse
          a(href='/fabrication/bathhouse' data-ajax="false") Rebirth of the Bath House  
        span#groupshow
          a(href='/fabrication/groupshow' data-ajax="false") Group Show  
        span#lecky
          a(href='/fabrication/leckey' data-ajax="false") A Month in Making
        span#berggren
          a(href='/fabrication/berggren' data-ajax="false") Previlege & Melancholy 

      section.project-content
        each imageUrl in imageUrlList
          div.project-images.draggable
            if imageUrl.indexOf(".svg") > -1 
              object.svg-files(data="#{imageUrl}" type="image/svg+xml")
                img(src="#{imageUrl}")
            else
              img(src="#{imageUrl}")
            svg.cross
              line(x1='0', y1='100%', x2='100%', y2='0')
              line(x1='0', y1='0', x2='100%', y2='100%')
      header
        h3 #{info.name}
      section.tilde.top 
        span &#12336;&#12336;&#12336;&#12336;&#12336;&#12336;&#12336;&#12336;
      section#textBox
        .text-label What
        p  #{info.who}
        .text-label Role
        p  #{info.role} 
        .text-label Software
        p #{info.software}
        .text-label Description
        p #{info.description}
      section.tilde.bottom 
        span &#12336;&#12336;&#12336;&#12336;&#12336;&#12336;&#12336;&#12336;
      include ../partials/slideCtrl.jade
      .modal-layer
      section.text-overlay
        .text-content 
          .text-italic #{info.name};
          .text-italic  #{info.who};
          .text-italic  #{info.role}; 
          .text-italic  #{info.software}; 
          .text-info #{info.description}
    if info.links
      footer
          each link in info.links
            a(href=link).ext-links #{link}
      div.sideLinkPanel 
          each link in info.links
            a(href=link target="_blank").ext-links
              i.material-icons share
  section.img-modal
    i.material-icons.closeModal close
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  script(type='text/javascript', src='/scripts/projectPage.js')
