doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
    link(rel='stylesheet', href='/styles/textContent.css')
    link(rel='stylesheet', href='/styles/mobile/project.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    include ../partials/infoPanel.jade
    h1.category.mobile ~ 3d ~
    .navMenu
      i.mobile.material-icons.md-36#hamburger menu
    include ../partials/nav.jade
    section#content-wrapper
      div.subNav
        span#bathhouse
          a(href='/3d/bathhouse' data-ajax="false") Rebirth of the Bath House
        span#blindSpot
          a(href='/3d/blindSpot' data-ajax="false") Blind Spot 
        span#blindSpot2
          a(href='/3d/blindSpot2' data-ajax="false") Blind Spot 2
        span#fruits
          a(href='/3d/fruits' data-ajax="false") Fruits 
        span#virtual-flavor
          a(href='/3d/virtual-flavor' data-ajax="false")  Virtual Flavor
      
      section.project-content
        each imageUrl in imageUrlList
          div.project-images.draggable
            if imageUrl.indexOf(".svg") > -1 
              span.helper
              img.mobile(src="#{imageUrl}")
              span.svg-helper
              object.svg-files(data="#{imageUrl}" type="image/svg+xml")
                img(src="#{imageUrl}")
            else
              span.helper
              img.desktop(src="#{imageUrl}")
            svg.cross
              line(x1='0', y1='100%', x2='100%', y2='0')
              line(x1='0', y1='0', x2='100%', y2='100%')
      header
        h3 #{info.name}
      section#textBox
        .tilde.top
          object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
            img(src="/vectors/squiggle_shadow_2-01.svg")
        .text-content
          .text-label What
          p  #{info.who}
          .text-label Role
          p  #{info.role} 
          .text-label Software
          p #{info.software}
          .text-label Description
          p #{info.description}
        .tilde.bottom
          object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
            img(src="/vectors/squiggle_shadow_2-01.svg")
      include ../partials/slideCtrl.jade
      .modal-layer
      section.text-overlay
        .text-content 
          .text-italic #{info.name};
          .text-italic  #{info.who};
          .text-italic  #{info.role}; 
          .text-italic  #{info.software}; 
          .text-info #{info.description}
    if info.links
      footer
        marquee(behavior="alternate")
          each link in info.links
            a(target="_blank" href=link).ext-links #{link}
      div.sideLinkPanel 
          each link in info.links
            a(target="_blank" href=link).ext-links
              i.material-icons share
  section.img-modal
    i.material-icons.closeModal close
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  script(type='text/javascript', src='/scripts/mobileMain.js')
  script(type='text/javascript', src='/scripts/projectPage.js')
