doctype html 
html 
  head 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/project.css')
    link(rel='stylesheet', href='/styles/cluster.css')
    link(rel='stylesheet', href='/styles/textContent.css')
    link(rel='stylesheet', href='/styles/mobile/project.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script var isHoge = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    include ../partials/infoPanel.pug
    .navMenu
      i.mobile.material-icons.md-36#hamburger menu
    h1.category.mobile ~ Tactile Images ~
    include ../partials/nav.pug

    section.cluster-content(id=info.title)
      header
        //- h3 #{info.title} 
      each cluster in clusters
        .cluster
          //- h3 #{Object.keys(cluster)}
          section.caption-box
            .tilde
              object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
                img(src="/vectors/squiggle_shadow_2-01.svg")
            p.text-content #{cluster[Object.keys(cluster)].caption}
            each key in Object.keys(cluster[Object.keys(cluster)].links)
              p.links
                marquee(behavior="alternate")
                  a(href=cluster[Object.keys(cluster)].links[key] target="_blank")  #{key.replace(/"/g,"")} 
            .tilde
                object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
                  img(src="/vectors/squiggle_shadow_2-01.svg")
          section.image-pile
            each imageUrl in cluster[Object.keys(cluster)[0]].urlList
              div.cluster-image.draggable
                if imageUrl.indexOf(cluster.key) > -1
                  span.helper
                  img.mobile(src=imageUrl)
                  span.svg-helper
                  object.svg-files(data=imageUrl type="image/svg+xml")
                    img(src="#{imageUrl}")
                else
                  span.helper
                  img(src=imageUrl)
                svg.cross
                  line(x1='0', y1='100%', x2='100%', y2='0')
                  line(x1='0', y1='0', x2='100%', y2='100%')
      script(type='text/javascript', src='/scripts/infoCheck.js')

      .modal-layer
      section.text-overlay
        .text-content 
          .text-italic #{info.title};
          .text-info #{info.description}
    if info.links
      footer
        marquee(behavior="alternate")
          each link in info.links
            a(target="_blank" href=link).ext-links #{link}
      div.sideLinkPanel 
          each link in info.links
            a(target="_blank" href=link).ext-links
              i.material-icons share
  section.img-modal
    i.material-icons.closeModal close
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
  script(type='text/javascript', src='/scripts/mobileMain.js')
  script(type='text/javascript', src='/scripts/projectPage.js')


  
